<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="\frontend\app\assets\styles\Master.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        body {
            padding-top: 100px;
            background-color: #A68CB3;
        }
        .form-container {
            width: 400px;
            margin: auto;
        }
        .login-style{
            background-color: #A68CB3;
            position: fixed;
            height: 100%;
            width: 100%;
            padding-left: 25%;
            padding-right: 25%;
        }
        .button-style{
          background-color: #1E032B;
          color: #AAAAAA;
        }
        .button-style:hover{
          background-color: #2E0244;
          color: #AAAAAA;
        }
        .button-style:focus{
          background-color: #2E0244;
          color: #AAAAAA;
        }
        .button-style:active{
          background-color: #2E0244;
          color: #AAAAAA;
        }
        .link-color{
          color: #333333;
        }
    </style>
</head>
<body>
