<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <!-- <link rel="stylesheet" href="\frontend\app\assets\styles\Master.css"> -->

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">
        html{
          height: 100%;
          width: 100%;
          font-family: 'Roboto Condensed', sans-serif;
          overflow: auto;
        }
        body {
            padding-top: 100px;
            height: auto;
            width: 100%;
            font-family: 'Roboto Condensed', sans-serif;
            overflow: auto;
        }
        .image{
          position: fixed;
          height: 100%;
          width: 100%;
          top: 0px;
          left: 0px;
          background-image: url("Login-Image.png");
          background-repeat: no-repeat;
          opacity: 0.7;
          background-size: cover;
        }
        .login-style{
            position: relative;
            z-index: 999;
            height: 100%;
            width: 100%;
            opacity: 1;
        }
    </style>
</head>
<body>
