<!-- Create Chat Room Panel -->

<div role="dialog" layout="column" layout-align="center center" ng-controller="chatRoomCtrl as roomCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Create Chat Room</h2>
    </div>
  </md-toolbar>
  <div class="demo-dialog-content" layout-padding ng-controller="initCtrl as init">
    <form class="form-group" ng-submit="" method="post">
      <p>
        Name the Chat Room and specify if it is Public or Private:
      </p>
      <div layout="row">
        <input flex type="text" name="Chatroom Name" value="" placeholder="Name the chat room here." ng-model="roomCtrl.chatRoomName" ng-minlength="5" ng-maxlength="25" ng-required>
      </div>
      <div layout="row">
        <input type="checkbox" name="isPrivate" ng-model="roomCtrl.isPrivate">Private</input>
      </div>
    </form>
    <div layout="row">
      <md-button type="button" ng-click="roomCtrl.createChatroom(init.username.username); roomCtrl.closeCreate($event);" ng-disabled="roomCtrl.chatRoomName == undefined || chatRoomNameLength === 0">Submit</md-button>
    </div>
  </div>
</div>
