<!-- Dialog to transfer files? -->

<div role="dialog" layout="column" layout-align="center center" >
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Transfer a File</h2>
    </div>
  </md-toolbar>
  <div class="demo-dialog-content" layout-padding>
    <form class="form-group" ng-submit="" method="post">
      <p>
        Select the user to receive the file.
      </p>
      <div ng-repeat="user in startUp.allUsers" ng-hide="user.username===startUp.username.username">
        <input flex type="radio" name="user" ng-required>{{user.username}}
      </div>
      <p>
        Input the full path of the file to be transfered.
      </p>
      <div layout="row">
        <input type="file" ng-required>
      </div>
    </form>
    <div layout="row">
      <md-button type="button" ng-click="" ng-disabled="">Send File</md-button>
    </div>
  </div>
</div>
