<!-- Edit Private Chat Room Panel -->

<div role="dialog" layout="column" layout-align="center center" ng-controller="chatRoomCtrl as roomCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Manage Chat Room</h2>
    </div>
  </md-toolbar>
  <div class="demo-dialog-content" layout-padding>
    <h6>Accepted Users</h6>
    <div layout="row" ng-repeat="users in acceptedUsers track by $index">
      {{users}}
      <button type="button" name="button" ng-click="removeUser(roomId, users);moveUser($index,'remove')">-</button>
    </div>
    <h6>Pending Users</h6>
    <div layout="row" ng-repeat="users in pendingUsers track by $index">
      {{users}}
    </div>
    <h6>Other Users</h6>
    <div layout="row" ng-repeat="users in restOfUsers track by $index">
      {{users.username}}
      <button type="button" name="button" ng-click="inviteUser(roomId, users.username, username.username, roomName);moveUser($index,'add')">+</button>
    </div>
  </div>
</div>
