<!DOCTYPE html>
<html ng-controller="oldRoomCtrl">
  <head>
    <!--External Css Dependancies -->
    <!-- <link rel="stylesheet" href="assets\bower_components\bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/Master.css">
    <link rel="stylesheet" href="assets\imgs\font-awesome-4.7.0\css\font-awesome.min.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="theme-color" content="{{frameColor}}" />
    <link rel="icon" type="image/png" href="assets/imgs/transIcon.PNG" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/imgs/transIcon.PNG" sizes="32x32">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <title>RapidChat</title>
  </head>
  <style media="screen">
    md-list.make-scrollable{ height : 600px;
       overflow-y: scroll; }
       md-sidenav,
        md-sidenav.md-locked-open,
        md-sidenav.md-closed.md-locked-open-add-active {
            min-width: 50px !important;
            width: 12vw !important;
            max-width: 400px !important;
        }
  </style>
  <body ng-cloak layout="row" ng-controller="initCtrl as init">
    <div layout="row" flex ng-controller="chatRoomCtrl as roomCtrl">

      <!-- Create Chat Room Panel -->


    <div ng-controller="AppCtrl as mdCtrl" flex layout="row">
      <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
           <h1 class="md-toolbar-tools">Chats Or Logo</h1>
        </md-toolbar>
        <md-content layout-padding="" ng-controller="LeftCtrl">
           <md-button ng-click="close()" class="md-primary" hide-gt-md="">
              Close Sidenav Left
           </md-button>
           <!-- <p hide="" show-gt-md=""> -->
             <h5 style="margin:0px">Public Chat Rooms</h5>
             <li style="list-style:none" ng-repeat="room in roomCtrl.chatRooms[0].publicChatRooms track by $index" ui-sref="chatRoomById({chatRoomId: room._id})" ng-click="setOldRoom()" ui-sref-active="active">{{room.name}}</li>
             <h5 style="margin:0px">Private Chat Rooms</h5>
             <li style="list-style:none" ng-repeat="room in roomCtrl.chatRooms[1].allowedChatRooms track by $index" ui-sref="chatRoomById({chatRoomId: room._id})" ng-click="setOldRoom()" ng-show="room.direct === false" ui-sref-active="active">{{room.name}}<i class="fa fa-cog pull-right" data-toggle="modal" data-target="#invite" ng-click="setRoomName(room.name, room._id);initRoom(room._id)"></i></li>
             <h5 style="margin:0px">Direct Messages</h5>
             <li style="list-style:none" ng-repeat="room in chatRooms[1].allowedChatRooms track by $index" ui-sref="chatRoomById({chatRoomId: room._id})" ng-click="setOldRoom()" ng-show="room.direct === true" ui-sref-active="active"><identicon username='room.acceptedUsers[0]' size='16'></identicon>&nbsp;&nbsp;{{room.acceptedUsers[0]}}</li>
             <md-button ng-click="roomCtrl.showCreate($event)">Create Chat Room</md-button>
           <!-- </p> -->
        </md-content>
      </md-sidenav>

     <md-content layout="column" flex>
      <md-toolbar layout="row" class="md-hue-2" layout-align="start start">
         <div class="md-toolbar-tools" >
         <md-button class="md-icon-button" aria-label="Settings"  ng-click="toggleLeft()">
           <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
         </md-button>
         <!-- <h2 flex md-truncate>Toolbar with Disabled/Enabled Icon Buttons</h2> -->
        <md-button>Re-size</md-button>

         <md-menu>
           <md-button class="md-icon-button" aria-label="More" ng-click="mdCtrl.openMenu($mdOpenMenu, $event)">
             <md-icon md-menu-origin md-svg-icon="img/icons/more_vert.svg"></md-icon>
           </md-button>
           <md-menu-content width="3">
             <md-menu-item>
               <md-button>
                 <md-icon md-svg-icon="call:contact-phone" md-menu-align-target></md-icon>
                 Video Call
               </md-button>
             </md-menu-item>
             <md-menu-item>
               <md-button>
                 <md-icon md-svg-icon="call:call"></md-icon>
                 Voice Call
               </md-button>
             </md-menu-item>
             <md-menu-item>
               <md-button>
                 <a href="/login" target="_self">
                 Log out
                 </a>
               </md-button>
             </md-menu-item>
           </md-menu-content>
         </md-menu>
       </div>
      </md-toolbar>
     <md-tabs md-stretch-tabs md-border-bottom>
        <md-tab label="Dashboard" ng-class="{active: activeTab === 'dashboard'}" ui-sref="dashboard"  ng-click="setOldRoom()"></md-tab>
        <md-tab label="Account"ng-class="{active: activeTab === 'personalize'}"ui-sref="personalize" ng-click="setOldRoom()"></md-tab>
        <md-tab label="Video Chat" ng-class="{active: activeTab === 'video'}" ui-sref="video" ng-click="setOldRoom()"></md-tab>
        <!-- <md-tab label="Admin" ng-class="{active: activeTab === 'admin'}" ui-sref="admin" ng-click="setOldRoom()" ng-show=false></md-tab> -->
    </md-tabs>
      <div flex layout="column" style="padding-right:3px">
           <!-- <p>
              The left sidenav will 'lock open' on a medium (=960px wide) device.
           </p>
           <p>
              The right sidenav will focus on a specific child element.
           </p>
           <div>
              <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
                 Toggle left
              </md-button>
           </div>
           <div>
              <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
                 Toggle right
              </md-button>
           </div>
        </div> -->
        <!-- <div flex=""> this is content </div> -->
        <ui-view flex layout="column"></ui-view>
      </div>
     </md-content>
     <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
        <md-toolbar class="md-theme-light">
           <h1 class="md-toolbar-tools">Sidenav Right</h1>
        </md-toolbar>
        <md-content ng-controller="RightCtrl" layout-padding="">
           <form>
              <md-input-container>
                 <label for="testInput">Test input</label>
                 <input type="text" id="testInput" ng-model="data" md-autofocus="">
              </md-input-container>
           </form>
           <md-button ng-click="close()" class="md-primary">
              Close Sidenav Right
           </md-button>
        </md-content>
     </md-sidenav>
    </div>

     <!-- <div ng-controller="DemoCtrl as demo" ng-cloak>

    <md-content class="md-padding" layout="column">
      <div class="lock-size" layout="row" layout-align="center center">
        <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
        ng-class="demo.selectedMode">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions>
          <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="img/icons/twitter.svg" aria-label="Twitter"></md-icon>
          </md-button>
          <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="img/icons/facebook.svg" aria-label="Facebook"></md-icon>
          </md-button>
          <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="img/icons/hangout.svg" aria-label="Google Hangout"></md-icon>
          </md-button>
        </md-fab-actions>
        </md-fab-speed-dial>
      </div>

    </md-content>
</div> -->




    </div>


    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="assets/bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>

    <!-- <script src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script> -->
    <script src="assets/bower_components/angular/angular.min.js" charset="utf-8"></script>
		<script src="assets/bower_components/angular-ui-router/release/angular-ui-router.min.js" charset="utf-8"></script>
    <script src="assets/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="assets/bower_components/es5-shim/es5-shim.js"></script>
    <script src="assets/bower_components/json3/lib/json3.min.js"></script>
    <script src="assets/bower_components/angular-resource/angular-resource.js"></script>
    <script src="assets/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="assets/bower_components/angular-route/angular-route.js"></script>
    <script src="assets/bower_components/socket.io-client/dist/socket.io.js"></script>
    <script src="assets/bower_components/angular-socket-io/socket.js"></script>
    <script src="assets/bower_components/angular-scroll-glue/src/scrollglue.js" charset="utf-8"></script>
    <script src="assets/imgs/identicon.js/pnglib.js"></script>
    <script src="assets/imgs/identicon.js/identicon.js"></script>
    <script src="assets/imgs/angular-identicon/dist/angular-identicon.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <!-- Angular Material Library -->

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="assets/imgs/mdIcons.js" charset="utf-8"></script>
    <!-- these are all of our files dont forget all script tags must come in the body and load core.js FIRST then all other modules -->

    <script src="assets/lib/adapter.js"></script>
    <script src="core.js" charset="utf-8"></script>
    <script src="assets/scripts/services/factories/restUserFactory.js" charset="utf-8"></script>
    <script src="assets/scripts/services/factories/restChatRoomFactory.js" charset="utf-8"></script>
    <script src="assets/scripts/controllers/demoCtrl.js" charset="utf-8"></script>
    <script src="assets/scripts/controllers/adminCtrl.js" charset="utf-8"></script>
    <script src="assets/scripts/services/flashService.js" charset="utf-8"></script>
    <script src="assets/scripts/controllers/personalizeCtrl.js" charset="utf-8"></script>
    <script src="assets/scripts/controllers/socket.js"></script>
    <script src="assets/scripts/controllers/chatLayoutCtrl.js"></script>
    <script src="assets/scripts/controllers/tempCtrl/chatRoomCtrl.js"></script>
    <script src="assets/scripts/controllers/tempCtrl/oldRoomCtrl.js"></script>
    <script src="assets/scripts/controllers/tempCtrl/initCtrl.js"></script>
    <script src="assets/scripts/controllers/tempCtrl/notificationCtrl.js"></script>
    <script src="assets/scripts/services/socket.js"></script>
    <script src="assets/scripts/services/messageFormatter.js"></script>
    <script src="assets/scripts/directives/chatBox.js"></script>
    <!-- <script src="assets/scripts/controllers/notifyCtrl.js" charset="utf-8"></script> -->
    <!-- <script src="assets/scripts/controllers/oldRoomCtrl.js"></script>
    <script src="assets/scripts/controllers/modalCtrl.js"></script> -->
    <script src="assets/scripts/videoTest.js" charset="utf-8"></script>
    <script>if (window.module) module = window.module;</script>
    <!-- <script src="assets\scripts\services\factories\restFactory.js" charset="utf-8"></script> -->
    <script src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js" ></script>
    <!--<script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js" ></script> -->

  </body>
</html>
