<div>
  <div class="panel panel-default">
    <div>
      <div class="panel-body scroll" scroll-glue="glued">
        <ul class="no-bullet">
          <li  ng-repeat="message in messageTest track by $index">
              <div>
                  <div>
                      <strong class="primary-font">{{message.author}}</strong> <small class="pull-right text-muted">
                          <span class="glyphicon glyphicon-time"></span> {{message.timestamp | date:'MM/dd/yyyy @ h:mma'}}</small>
                  </div>
                  <p>
                      {{message.messageContent}}
                  </p>
              </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel-footer group-input">
      <div class="input-group">
        <input type="text" class="form-control input-sm input-message" placeholder="Type your message here..." required ng-max='50' ng-model='message' focus ng-keypress="myFunct($event)">
        <span class="input-group-btn">
          <button class="btn btn-default btn-sm button-style" ng-enable='form.$valid' ng-click="sendMessage(message)">Send</button>
        </span>
      </div>
    </div>
  </div>
</div>
