<div>
  <div class="panel panel-default">
    <div>
      <div class="panel-body scroll" scroll-glue="glued">
        <ul class="no-bullet">
          <li  ng-repeat="message in messageTest track by $index" >
              <div>
                  <div>
                    <identicon username='message.data.author' size='40' />
                      <strong class="primary-font">{{message.data.author}}</strong> <small class="pull-right text-muted">
                          <span class="glyphicon glyphicon-time"></span> {{message.data.timestamp | date:'MM/dd/yyyy @ h:mma'}}</small>
                  </div>
                  <div>
                    <!-- <img width=420 height=420 src="data:image/png;base64,' + {{identicon}} + '"> -->

                  </div>
                  <p class="p-wrap">
                    {{message.data.messageContent}}
                  </p>
                  <p ng-show="message.data.gif" class="p-wrap">
                    <br>
                    <img ng-show="message.data.gif" src="{{message.data.url}}" alt="gifyImage">
                  </p>

              </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel-footer group-input" ng-style="topStyle">
      <div class="input-group">
        <input type="text" class="form-control input-sm input-message" placeholder="Type your message here..." required ng-max='50' ng-model='message' focus ng-keypress="myFunct($event)">
        <span class="input-group-btn">
          <button class="btn btn-default btn-sm button-style" ng-enable='form.$valid' ng-click="sendMessage(message)">Send</button>
        </span>
      </div>
    </div>
  </div>
</div>
