<!-- <div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>  WELCOME TO THE CHAT
            </div>
            <div class="panel-body" id="panel-body" scroll-glue="glued">
                <ul class="chat">


                <li class="left clearfix"  ng-repeat="message in messageTest track by $index"><span class="chat-img pull-left">
                        <img src="http://placehold.it/50/{{message.color}}/fff&amp;text={{message.name.charAt(0)}}"  alt="User Avatar" class="img-circle">
                    </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">{{message.name}}</strong> <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span>{{message.date | date:'MM/dd/yyyy @ h:mma'}}</small>
                            </div>
                            <p>
                                {{message.message}}
                            </p>
                        </div>
                    </li>


                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." required ng-max='50' ng-model='message' focus ng-keypress="myFunct($event)">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" id="btn-chat" ng-enable='form.$valid'
          ng-click="sendMessage(message)">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</div> -->

<!-- <div class="container">
<div class="panel panel-default">
  <div class="container-fluid">
    <div class="col-sm-12 panel-body">
      <ul>
        <li class="left clearfix"  ng-repeat="message in messageTest track by $index">
            <div class="clearfix">
                <div class="header">
                    <strong class="primary-font">{{message.name}}</strong> <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>{{message.date | date:'MM/dd/yyyy @ h:mma'}}</small>
                </div>
                <p>
                    {{message.message}}
                </p>
            </div>
          </li>
      </ul>
    </div> -->
  <!-- <div class="col-sm-10 input">
    <input type="text" name="message" placeholder="Type your message here." class="input-message">
  </div>
  <div class="col-sm-2 send">
    <button class="send-button">Send</button>
  </div> -->

  <!-- </div>


<div class="input-group panel-footer group-input">
    <input id="btn-input" type="text" class="form-control input-sm input-message" placeholder="Type your message here..." required ng-max='50' ng-model='message' focus ng-keypress="myFunct($event)">
    <span class="input-group-btn">
        <button class="btn btn-default btn-sm" ng-enable='form.$valid' ng-click="sendMessage(message)">Send</button>
    </span>
</div>
</div>
</div> -->

<div>
  <div class="panel panel-default">
    <div class="panel-header">
      Hello head
    </div>
    <div>
      <div class="panel-body scroll">
        <ul>
          <li  ng-repeat="message in messageTest track by $index">
              <div>
                  <div>
                      <strong class="primary-font">{{message.name}}</strong> <small class="pull-right text-muted">
                          <span class="glyphicon glyphicon-time"></span>{{message.date | date:'MM/dd/yyyy @ h:mma'}}</small>
                  </div>
                  <p>
                      {{message.message}} Meg
                  </p>
              </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel-footer group-input">
      <div class="input-group">
        <input type="text" class="form-control input-sm" placeholder="Type your message here..." required ng-max='50' ng-model='message' focus ng-keypress="myFunct($event)">
        <span class="input-group-btn">
          <button class="btn btn-default btn-sm" ng-enable='form.$valid' ng-click="sendMessage(message)">Send</button>
        </span>
      </div>
    </div>
  </div>
</div>
