.side-nav-margin
{
  margin: 0px;
}

.side-nav-list
{
  list-style: none;
}

.ui-view-padding
{
  padding-right: 3px;
}

.video-container
{
  position: absolute;
  width: 67%;
  height: 70%;
  left: 0;
  background-color: blue;
}

.local-video-view
{
  bottom: 0;
  right: 0;
  position: absolute;
  object-fit: contain;
  width: 33%;
}

.local-video-view video
{
  object-fit: cover;
  width: 100%;
  display: block;
  opacity: 0.85;
}

.local-video-view video:hover
{
  opacity: 1;
}

/*video
{
  object-fit: cover;
  float: right;

}*/

.remote-video-view
{
  background-color: black;
  color: white;
}

.remote-video-view > video
{
  width: 33%;
}

.chat-text-view
{
  height: 70%;
  width: 100%;
  /*position: relative;*/
  right: 0;
  /*padding-right: 5px;*/
}

.chat-text-view .md-button{
  word-break: break-all;
}

.chat-input-container
{
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
}

.remove-padding
{
  padding: 0px;
  margin: 0px;
}

.position-fix
{
  position: absolute;
}

.dashboard-users
{
  position: relative;
  color: white;
  width: 100%;
  align-items: center;
}
