.group-input           {
      position         : fixed;
      bottom           : 0px;
      background-color : #3F098F;
      color						 : #AAAAAA;
      border-top       : 0px;
      border-left      : 1px solid #FFFFFF;
}

.chat-content          {
      position         : relative;
      height           : 100%;
      width            : inherit;
}

.messages              {
      height           : 100%;
}

.scroll                {
      overflow-y       : auto;
      position         : fixed;
      height           : calc(100% - 100px);
      width            : calc(100% - 200px);
      border-left      : 1px solid #FFF;
}

.navbar                {
      border-radius    : 0px;
      background-color : #BBCDE5;
      border-top       : 0px;
      border-bottom    : 0px;
      border-left      : 0px;
      border-right     : 0px;
      border-color     : #23282E;
      margin-bottom: 0px;
}

.right-buffer {
  padding-right: 10px;
}

.bottom-of-page{bottom:0px}

.full-height{height: 100%}
.input-message				 {
      background-color : #1E032B;
      color						 : #AAAAAA;
}
.chat-background{
      background-color : #1E032B;
      color						 : #AAAAAA;
}
.header-style{
  background-color: #444444;
  color: #AAAAAA;
  border: 0px;
  border-radius: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}
.panel{border: 0;}

.button-style{
  background-color: #1E032B;
  color: #AAAAAA;
}
.button-style:hover{
  background-color: #333333;
  color: #BBBBBB;
}
.button-style:focus{
  background-color: #222222;
  color: #AAAAAA;
}

.navbar-default .navbar-nav :hover{
  background-color: #33FF66;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
  background-color: #FF3366;
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 0px;
}

::-webkit-scrollbar-track {
    -webkit-box-solid: inset 0 0 6px rgba(255,0,0,1);
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #3F098F;
}

::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-box-solid: inset 0 0 6px rgba(0,255,0,1);
    background: #1E032B;
}

.panel{
  margin-bottom: 0px;
}

/*Side Navigation Bar*/

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #3F098F;
  position: fixed;
  top: 0px;
  width: 200px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #BBCDE5;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #33FF66;
  background-color: #20A4F3;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #E1FFFF;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #E1FFFF;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #2AAEFD;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #15A2B2;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #FF3366;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #33FF66;
  background-color: #15A2B2;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 999px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #222222;
    color: #FFFFFF;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  .hom {display:none;}
  .com {
    font-size: 32px;
  }
  .input-com {}
  .nav>li>a {
    padding: 10px 0px 10px 15px;
    color: #E1FFFF;
  }
  .scroll {
    position: absolute;
    max-height: initial;
    width : 100%;
  }
  .panel-body{
    padding-bottom: 50px;
  }
}
@media (min-width: 1000px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

  #main {
  	width:calc(100% - 200px);
    position: fixed;
    height : 100%;
    left: 200px;
    bottom: 0px;
  }
}
body {
  margin: 0px;
  padding: 0px;
  background-color : #1E032B;
  color						 : #AAAAAA;
}
html {height: 100%;}
