<center><h1>Admin</h1></center>
<div layout="row">
  <div flex='50' layout="column">
    <center><h3 class="no-top-margin">Users</h3></center>
    <div layout="row" ng-repeat="user in vm.allUsers" ng-hide="user.username===vm.user.username">
      <div flex>
        &nbsp;
        <identicon username='user.username' size='24'></identicon>
        &nbsp;{{user.username}}&nbsp;
      </div>
      <button layout="row" layout-align="end center" ng-click="vm.deleteUser(user._id); callApi()">Delete User</button>
      &nbsp;
    </div>
  </div>
  <div flex='50' layout="column">
    <center><h3 class="no-top-margin">Chat Rooms</h3></center>
    <div layout="row" ng-repeat="room in vm.allChatRooms track by $index">
      <div flex>
        <i class="fa fa-comments-o fa-lg"></i>
        &nbsp;{{room.name}}&nbsp;
      </div>
        <button layout-align="end center" ng-click="vm.deleteChatroom(room._id); callApi()">Delete Chat Room</button>
        &nbsp;
    </div>
  </div>
</div>
