<div class="container-fluid left-style">
  <div class="col-xs-12">
   Users
  </div>
    <div class="link-style col-sm-12 col-md-4" ng-repeat="user in allUsers" ng-hide="user.username===vm.user.username"><identicon username='user.username' size='40'></identicon><br /><a ng-click="setOldRoom(); createDirectMessage(vm.user.username, user.username)">{{user.username}}</a></div>
</div>
<div class="container-fluid right-style">
  <div class="col-xs-12">
    Public Chat Rooms
  </div>
    <div class="link-style col-sm-12" ng-repeat="room in chatRooms[0].publicChatRooms track by $index" ><a ui-sref="chatRoomById({chatRoomId: room._id})" ng-click="setOldRoom()"><i class="fa fa-comments-o fa-lg"></i>&nbsp;{{room.name}}</a></div>
  <br />
  <div class="col-xs-12">
    Private Chat Rooms
  </div>
    <div class="link-style col-sm-12" ng-repeat="room in chatRooms[1].allowedChatRooms track by $index" ng-show="room.direct === false"><a ui-sref="chatRoomById({chatRoomId: room._id})" ng-click="setOldRoom()"><i class="fa fa-comments-o fa-lg"></i>&nbsp;{{room.name}}</a></div>
    <div class="link-style col-sm-12"><a data-toggle="modal" data-target="#createRoom"><i class="fa fa-comments-o fa-lg"></i>&nbsp;Create A New Chat Room</a></div>
</div>
