<center><h1>My Account</h1></center>
<div class="form-container account-heading" layout="column" layout-align="center center">
    <form method="post">
        <md-input-container>
            <label for="firstName">First name</label>
            <input type="text" id="firstName" class="form-control input-message" ng-model="vm.user.firstName" required />
        </md-input-container>
        <br />
        <md-input-container>
            <label for="lastName">Last name</label>
            <input type="text" id="lastName" class="form-control input-message" ng-model="vm.user.lastName" required />
        </md-input-container>
        <br />
        <md-input-container>
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control input-message" ng-model="vm.user.username" required />
        </md-input-container>
        <br />
        <md-input-container>
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control input-message" ng-model="vm.user.password" />
        </md-input-container>
        <br />
        <center>
          <md-button class="md-raised" ng-click="vm.saveUser()">Save</md-button>
        </center>
    </form>
</div>
