<div class='container'>
  <div ng-controller='SocketCtrl'>
    <div>
      <div>
        <chat-box></chat-box>
        <!-- Chat box here -->
      </div>
    </div>
    <div class='row'>
      &nbsp;
    </div>




    <!-- <div class='row'>
      <div class='col-md-8'>
        <form role='form' novalidate name='chatRoomForm' ng-submit="createChatRoom()">
          <div class='form-group'>
            <label for="chatRoomName">Chat Room Name:</label>
            <input type="text" name="chatRoomName" value="" ng-model="chatRoomTest.name">
          </div>
          <div class='form-group'>
            <input type="submit" value="Submit" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
